@model IEnumerable<WaitlistManager.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarberId)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barber.FullName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.VisitId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.VisitId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.VisitId">Delete</a>
        </td>
    </tr>
}
    <tr>
        <td>
            <a asp-action="Create">Sign In</a>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
