@model WaitlistManager.Models.Barber

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Barber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CutsF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CutsF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CutsM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CutsM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfilePicPath)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.BarberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
