@model IEnumerable<WaitlistManager.Models.Barber>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Add a new barber to Waitlist Manager</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName).Remove(7, 10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutsF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutsM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicPath)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.FullName)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.CutsF)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.CutsM)
        </td>
        <td>
            <img src="@("/ProfilePicPath/" + item.ProfilePicPath)" alt="Profile Picture" class="profile"/>
    </td>

    <td>

        <a asp-action="Edit" asp-route-id="@item.BarberId">Edit</a> |

        <a asp-action="Details" asp-route-id="@item.BarberId">Details</a> |

        <a asp-action="Delete" asp-route-id="@item.BarberId">Delete</a>

    </td>

</tr>
}
</table>
