@model IEnumerable<WaitlistManager.Models.Barber>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="pull-left">
        Barbers<small>
            <a asp-action="Create" class="btn btn-sm btn-warning">Add a new barber</a>
        </small>
    </h1>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName).Remove(7, 10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            Cut F
        </th>
        <th>
            Cut M
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicPath)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td class="col-xs-1">
            <strong>@Html.DisplayFor(modelItem => item.FullName)</strong>
        </td>
        <td class="col-xs-4">
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td class="col-xs-1">
            @Html.ValueFor(modelItem => item.CutsF)
        </td>
        <td class="col-xs-1">
            @Html.ValueFor(modelItem => item.CutsM)
        </td>
        <td class="col-xs-2">
            <img src="@("/ProfilePicPath/" + item.ProfilePicPath)" alt="Profile Picture" class="profile"/>
        </td>
        
        <td class="col-xs-1">

        <a asp-action="Edit" asp-route-id="@item.BarberId">Edit</a><br />

        <a asp-action="Delete" asp-route-id="@item.BarberId">Delete</a><br />

    </td>

</tr>
}
</table>
